/* Manrope Font Family */
@font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    src: url('manrope/Manrope-400.woff2') format('woff2');
}

@font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    src: url('manrope/Manrope-500.woff2') format('woff2');
}

@font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    src: url('manrope/Manrope-600.woff2') format('woff2');
}

@font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    src: url('manrope/Manrope-700.woff2') format('woff2');
}

@font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 800;
    src: url('manrope/Manrope-800.woff2') format('woff2');
}
